---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
<div
  class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
>
  <p>
    Me llamo Miguel Ángel y soy un apasionado de la tecnología y el marketing. Mi trayectoria como Ingeniero en Telecomunicaciones comenzó en el desarrollo de aplicaciones móviles y web, una base técnica que me enseñó la importancia de <strong>construir soluciones funcionales para el éxito de cualquier negocio</strong>.
  </p>

  <p>
    Esta experiencia me llevó a un rol de <strong>Líder de Producto</strong>, donde ahora me enfoco en la estrategia, la conceptualización y la creación de valor. Aunque mis responsabilidades han evolucionado, sigo aplicando mi conocimiento técnico en <strong>Java, React Native, Python y la integración de APIs</strong> para coordinar equipos y entender las necesidades operativas.
  </p>

  <p>
    Me defino por ser una persona honesta y responsable, siempre buscando optimizar procesos y construir puentes entre la tecnología y las conexiones humanas. Mis habilidades en <strong>resolución de problemas, gerencia de proyectos, liderazgo y metodologías Ágiles (Scrum y LEAN)</strong> son el motor para guiar equipos y transformar ideas innovadoras en productos tangibles.
  </p>
</div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
