---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
      {
    date: "abr. 2026 - actualidad",
    title: "Líder de Producto",
    company: "Telefónica Venezolana C.A.",	
    description:
      "Lidero la estrategia y evolución del portafolio de productos digitales, actuando como el nexo principal entre los equipos de negocio y los equipos de tecnología. Defino el roadmap de producto priorizando funcionalidades que impactan directamente en la satisfacción del cliente y la rentabilidad. Superviso la ejecución ágil de los desarrollos, asegurando que la complejidad técnica se traduzca en una experiencia de usuario fluida y alineada con los objetivos comerciales de la compañía.",
  },
    {
    date: "ago. 2025 - mar. 2026",
    title: "Coordinador de Producto",
    company: "Telefónica Venezolana C.A.",	
    description:
      "En mi rol como Coordinador de Producto en la gerencia de Marketing Operativo, mi enfoque principal es la conceptualización y desarrollo de propuestas de valor para el cliente. Lidero la estrategia completa del ciclo de vida del producto, desde un profundo análisis de mercado e identificación de oportunidades hasta la evaluación de factibilidad técnica y la coordinación de equipos multifuncionales. Mi trabajo se centra en superar barreras, analizar resultados y optimizar procesos, utilizando los datos para asegurar que cada iniciativa sea innovadora y esté alineada con las necesidades reales del mercado.",
  },
  {
    date: "oct. 2024 - ago. 2025",
    title: "Coordinador desarollo APP/WEB",
    company: "Telefónica Venezolana C.A.",	
    description:
      "Como Líder Técnico en desarrollo frontend, me enfoqué en la conceptualización e integración de nuevos productos para nuestra aplicación móvil. Lideré el desarrollo y mantenimiento de la aplicación nativa de Android, utilizando Java para optimizar el rendimiento e implementar funcionalidades clave como campañas promocionales. Mi rol incluyó la participación activa en la migración de la capa de servicios, la integración de APIs RESTful y la colaboración directa con el equipo de diseño UI/UX para asegurar una experiencia de usuario fluida y alineada con la estrategia de producto.",
  },
  {
    date: "sept. 2021 - jul. 2024",
    title: "Beca trabajo",
    company: "Universidad Católica Andrés Bello",
    description:
      "Encargado de llevar a producción y de post producir el contenido académico que los profesores querían virtualizar. Trabajando con la conceptualización, planificación, desarrollo, lanzamiento y seguimiento de nuevos productos, además de hacer el seguimiento y el análisis de los datos del contenido virtualizado en las plataformas correspondientes.",
  },
  {
    date: "ago. 2023 - nov. 2023",
    title: "Pasante",
    company: "Telefónica Venezolana C.A.",
    description:
      "Responsable de realizar un estudio de factibilidad y elaboración de propuesta técnica para la migración de servicios Legacy PDH/SDH a la red IP/MPLS de Telefónica Venezolana, C.A.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
